@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: black;
}

section {
    margin-left: 8px;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-menu-cta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 616px;
    margin-top: 5px;
}

.logo{
    width: 29px;
    margin-top: 16px;
    margin-left: 14px;
}

.logo-menu-cta ul li{
    display: flex;
    align-items: flex-start;
    border-radius: 999px;

    text-decoration: none;
    list-style: none;
    color: white;
    padding: 14px 14px;
    margin: 5px 0px;
    width: 80%;
    cursor: pointer;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    transition-duration: 0.3s;


}

.logo-menu-cta ul li:hover{
    background-color: rgb(14, 14, 14);

}


.logo-menu-cta ul li img{
    background-color: rgba(255, 0, 0, 0);
}

.logo-menu-cta ul li img{
    margin-right: 20px;
}

.tweet-cta{
    border: none;
    background-color: #1DA1F2;
    height: 54px;
    width: 220px;
    border-radius: 999px;
    cursor: pointer;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

.tweet-cta:hover{
    background-color: #1276b4;
    transition-duration: 0.3s;
}

.user-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    border-radius: 999px;
    background-color: rgba(8, 8, 8, 0);
    margin-bottom: 14px;
}

.text-name-username{
    margin-left: 10px;
}

.user-profile h6{
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 2px;
    color: white;
}

.user-profile p{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: rgb(102, 102, 102);
}

.user-profile-img-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-profile i{
    margin-right: 8px;
}

.profile-img {
    border-radius: 50%;
    height: 44px;
}



